html, body {
height: 100%;
}

.form-control{
width:50%;
}

.st-5{
font-family: 'Permanent Marker', cursive;
font-size: 40px;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #535353;
  overflow-x: hidden;
  padding-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-fluid{
min-height: 100%;
}

a.nav-link{
color: whitesmoke;
}

a.nav-link:hover{
color: black;
background-color:#e9cd79;
}

a.nav-link.active{
color: black;
background-color:#ffc107;
font-weight: bold;
}

hr {
  height: 2px;
  margin-bottom:-3px;
}

.hr-primary{
  background-image: -webkit-linear-gradient(left, rgba(210,105,30,.8), rgba(210,105,30,.6), rgba(0,0,0,0));
}

.search{
}

/* images */
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

.row,
.row > .column {
  padding: 10px;

}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;


}

/* Clear floats after rows */
.row:after {
  
  display: table;
  clear: both;
}

/* Content */
.content-image {
  background-color: white;
  padding: 5px;
  border-radius:5px;
  overflow:hidden;
  object-fit: cover;
  height: 300px;
  width: auto;

}

img {
  width:100%;
   height:100%; 
   border-radius:5px;


}

.content-image:hover {
  background-color: smokewhite;
  padding: 1px;
  border-radius:5px;
  width: 102%;
  color: #fff;
  background-color: #333;
  box-shadow: 0 0 0 4px rgba(255,255,255,0.25);
  opacity: 0.6;

}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}


/*get image button style*/
.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 250px;
}

.button {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

.button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.image .wrap .button:hover, .image .wrap .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

.image .wrap .button:hover::before, .image .wrap .button:focus::before {
  opacity: 1;
}

.image .wrap .button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.image .wrap .button:hover::after, .image .wrap .button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}


